
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* *{
    margin: 0;
    padding: 0;
} */

/* share  */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600px;
}
.disply-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}

.text-primary{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
}
/* nav bar style */



.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.brand{
    font-weight: 700px;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style  */

.banner-container{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}

.banner-dis{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-img{
    width: 100%;
}

/* images feature */

.teams{
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 73px;
    max-width: 537px;
}



#quick-list{
    font-weight: 500px;
}

/* facts er card */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.facts{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-des{
    max-width: 540px;
}


/* sponsor info */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.sponsor-company img{
    filter: grayscale(100%);
}

/* responsive media query  for small divece*/

@media screen and (max-width:576px){
    .navbar , .nav-class , .teams{
        flex-direction: column;
    }

    .teams-img-container , .facts-container , .sponsor-company{
        grid-template-columns: repeat(1,1fr);
    }
    
    .facts-container {
        justify-items: center;
        gap: 24px;
    }
     
     .sponsor-company{
        justify-items: center;
        gap: 50px;
     }

    .our-feature{
        margin-left: 10px;
    }
}

/* responsive media query  for mediam divece */

@media screen and (min-width:576px) and(max-width:992){
    .teams{
        flex-direction: column;
    }

    .our-feature{
        margin-left: 10px;
    }

    .sponsor-company , .facts-container{
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        justify-items: center;
    }
}